In [81]:
import pandas as pd 
import datetime
import numpy as np

In [82]:
from pathlib import Path
Path('my_data.db').touch()
import sqlite3
con = sqlite3.connect('my_data.db')
cur = con.cursor()
sqlite3.sqlite_version

'3.22.0'

In [83]:
cur.execute("DROP TABLE st11")
cur.execute("DROP TABLE st12")
cur.execute("DROP TABLE st13")
cur.execute("DROP TABLE st14")
cur.execute("DROP TABLE st15")
cur.execute("DROP TABLE st16")
cur.execute("DROP TABLE st17")
cur.execute("DROP TABLE st18")

In [84]:
t11 = pd.read_csv("t11.csv", index_col=0, parse_dates=True)
t12 = pd.read_csv("t12.csv", index_col=0, parse_dates=True)
t13 = pd.read_csv("t13.csv", index_col=0, parse_dates=True)
t14 = pd.read_csv("t14.csv", index_col=0, parse_dates=True)
t15 = pd.read_csv("t15.csv", index_col=0, parse_dates=True)
t16 = pd.read_csv("t16.csv", index_col=0, parse_dates=True)
t17 = pd.read_csv("t17.csv", index_col=0, parse_dates=True)
t18 = pd.read_csv("t18.csv", index_col=0, parse_dates=True)

In [85]:
t11.reset_index(inplace=True)
t12.reset_index(inplace=True)
t13.reset_index(inplace=True)
t14.reset_index(inplace=True)
t15.reset_index(inplace=True)
t16.reset_index(inplace=True)
t17.reset_index(inplace=True)
t18.reset_index(inplace=True)

In [86]:
t11.to_sql('st11', con,  index=False)
t12.to_sql('st12', con,  index=False)
t13.to_sql('st13', con,  index=False)
t14.to_sql('st14', con,  index=False)
t15.to_sql('st15', con,  index=False)
t16.to_sql('st16', con,  index=False)
t17.to_sql('st17', con,  index=False)
t18.to_sql('st18', con,  index=False)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [87]:
!pip install configparser
!pip install pydot
!pip install graphviz
!pip install eralchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: configparser in /usr/local/lib/python3.7/dist-packages (5.3.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pydot in /usr/local/lib/python3.7/dist-packages (1.3.0)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.7/dist-packages (from pydot) (3.0.9)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (0.10.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting eralchemy
  Using cached ERAlchemy-1.2.10-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.7/dist-packages (from eralchemy) (1.4.41)
Collecting pygraphviz
  Using cached pygraphviz-1.7.zip (118 kB)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy->eralchemy) (1.1.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy->eralchemy) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy->eralchemy) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy->eralchemy) (4.1.1)
Building wheels for collected packages: pygraphviz
  Building wheel for pygraphviz (setup.py) ... error
  ERROR: Failed building wheel for pygraphviz
  Running setup.py clean for pygraphviz
Failed to build pygraphviz
Installing collected packages: pygraphviz, eralchemy
    Running setup.py install for pygraphviz ... error
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-mi83ebs8/pygraphviz_75c5cce5c52742be88eef23765ca08a4/setup.py'"'"'; __file__='"'"'/tmp/pip-install-mi83ebs8/pygraphviz_75c5cce5c52742be88eef23765ca08a4/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-2zrm3ofz/install-record.txt --single-version-externally-managed --compile --install-headers /usr/local/include/python3.7/pygraphviz Check the logs for full command output.

In [88]:
!pip install sqlalchemy
!pip install sqlalchemy_schemadisplay
from sqlalchemy import MetaData
from sqlalchemy_schemadisplay import create_schema_graph
from sqlalchemy import  create_engine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.41)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy_schemadisplay in /usr/local/lib/python3.7/dist-packages (1.3)
Requirement already satisfied: pydot in /usr/local/lib/python3.7/dist-packages (from sqlalchemy_schemadisplay) (1.3.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from sqlalchemy_schemadisplay) (57.4.0)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.7/dist-packages (from pydot->sqlalchemy_schemadisplay) (3.0.9)

In [89]:
engine = create_engine('sqlite:///my_data.db') # using relative path
meta = MetaData(bind=engine)
engine.connect()
print(engine)

Engine(sqlite:///my_data.db)

In [90]:
x=cur.execute("SELECT distinct name FROM sqlite_master where type='table'")
for y in x.fetchall():
    print(y)

('st11',)
('st12',)
('st13',)
('st14',)
('st15',)
('st16',)
('st17',)
('st18',)

In [ ]:
# select *
# select all records in table

In [97]:
pd.read_sql_query("""
SELECT  
*
FROM st17
""", con)

   mk_device channelname
0          1      Mobile
1          2         Web
2          3     Twitter
3          4    Facebook

In [92]:
# select distinct
# The SELECT DISTINCT statement is used to return only distinct (different) values.
# Inside a table, a column often contains many duplicate values; and sometimes you only want to list the different (distinct) values.

In [98]:
pd.read_sql_query("""
SELECT  
distinct
st13.brandName
FROM st13 
GROUP BY 1 
""", con)

  brandName
0   Brand A
1   Brand B
2   Brand C

In [94]:
# insert into
# insert new records into existing db table

In [95]:
cur.execute('''
                INSERT INTO st17 (mk_device, channelname)
                VALUES
                (3,'Twitter'),
                (4,'Facebook')
                ''')
con.commit()
print(cur.rowcount, "records inserted.")

2 records inserted.

In [52]:
# null values
# select all customers who do not have any record in mk_Provider column 
# all customers have filled mk_Provider

In [99]:
pd.read_sql_query("""
SELECT mk_Customer, mk_Provider
FROM st12
WHERE mk_Provider IS not NULL;
""", con)

    mk_Customer  mk_Provider
0             1            1
1             2            2
2             3            1
3             4            2
4             5            3
..          ...          ...
95            1            1
96            2            1
97            1            2
98            2            3
99            3            4

[100 rows x 2 columns]

In [100]:
# update
# change value in table to new value

In [101]:
cur.execute('''
                UPDATE st17 
                SET channelname = 'LinkedIn'
                WHERE mk_device = 3;

                ''')
con.commit()
print(cur.rowcount, "records updated.")

1 records updated.

In [102]:
# delete
# delete a row from a table

In [103]:
cur.execute('''
                DELETE FROM st17 
                WHERE mk_device = 3;

                ''')
con.commit()
print(cur.rowcount, "records deleted.")

1 records deleted.

In [104]:
# select top 3 records in table, order by turnover_EUR descending

In [105]:
cur.execute("SELECT * FROM st12 ORDER BY turnover_EUR DESC LIMIT 3")
myresult = cur.fetchall()
for x in myresult:
  print(x)

('2019-01-02 00:00:00', 5, 3, 2, 34, 99.0680960219708, 3.46738336076898, None, 3.46738336076898, 1)
('2019-01-05 00:00:00', 2, 1, 1, 5, 96.7743309499029, 3.3871015832466, -4.82974073919871, -1.4426391559521, 1)
('2019-01-04 00:00:00', 4, 1, 1, 34, 96.3808001684389, 3.37332800589536, -14.4283164440616, -11.0549884381663, 0)

In [106]:
# self join - very useful to join the same table, e.g select all customers who shopped the same brand name 
# e.g. Customer 1 and Customer 4 both shopped brand A

In [108]:
pd.read_sql_query("""
SELECT  
A.mk_customer as C1,
B.mk_customer as C2,
A.brandName
FROM st13 A, st13 B
where 
A.mk_customer <> B.mk_customer
AND A.brandName = B.brandName 
ORDER BY C1, A.brandName;

""", con)

    C1  C2 brandName
0    1   4   Brand A
1    1   7   Brand A
2    2   5   Brand B
3    2   8   Brand B
4    3   6   Brand C
5    4   1   Brand A
6    4   7   Brand A
7    5   2   Brand B
8    5   8   Brand B
9    6   3   Brand C
10   7   1   Brand A
11   7   4   Brand A
12   8   2   Brand B
13   8   5   Brand B

In [109]:
# union 
# The UNION operator selects only distinct values by default. To allow duplicate values, use UNION ALL 
#The following SQL statement returns the customers (only distinct values) from both the "st12" and the "st13"

In [110]:
pd.read_sql_query("""
SELECT st12.mk_Customer from st12
UNION
SELECT st13.mk_customer from st13
ORDER BY 1
""", con)

   mk_Customer
0            1
1            2
2            3
3            4
4            5
5            6
6            7
7            8

In [111]:
# exists - the EXISTS operator is used to test for the existence of any record in a subquery.
# The following SQL statement returns TRUE and lists the brand Names for customers with a turnover EUR less than 5

In [112]:
pd.read_sql_query("""
SELECT st13.brandName
FROM st13
WHERE EXISTS (SELECT mk_Customer FROM st12 WHERE st12.mk_Customer=st13.mk_customer AND turnover_EUR < 5)
GROUP BY 1;
""", con)

  brandName
0   Brand A
1   Brand C

In [ ]:
# stored procedure

In [ ]:
# commennt

In [ ]:
# primary key

In [ ]:
# foreign key

In [ ]:
# data types